<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Advantage Sopping">
    <listeners>
        <listener class-name="listeners.Listeners"></listener>
    </listeners>
    <groups>
        <run>
            <exclude name="fail"></exclude>
        </run>
    </groups>
    <test name="StartStopDocker">
        <classes>
            <class name="docker.StartStopDocker"></class>
        </classes>
    </test>
    <test name="RegisterUserTests">
        <classes>
            <class name="spreetest.RegisterNewShopperTests"></class>
        </classes>
    </test>
</suite>
